*{
	margin: 0;
	padding:0;
}

.class{
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/form.jpg");
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form{
	background-color:rgba(0,0,0,0.6);
	justify-content: center;
	color:white;	
	padding: 60px 60px;
}

.form a{
	color: white;
	float:right;
}

.form h2{
	text-align: center;
	font-size: 35px;
	margin-top:40px;
}

.form label{
	font-size: 25px;
}

.form input[type='email']{
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 450px;
	color: white;
	height: 35px;
	background-color: transparent;
	border: none;
	border: 1px solid rgba(225,225,225,0.5);
}

.form input[type='password']{
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 450px;
	color: white;
	height: 35px;
	background-color: transparent;
	border: none;
	border: 1px solid rgba(225,225,225,0.5);
}

.form input[type='submit']{
	font-size: 25px;
	margin-top: 10px;
	width: 450px;
	height: 45px;
}

.head{
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.head h3{
	font-size: 30px;
}

.icon{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	color: black;
}

.icon p i{
	font-size: 150px;
}

@media (max-width: 700px){

	.form{
		padding: 30px 30px;
	}

	.form h2{
		font-size: 25px;
	}

	.form label{
		font-size: 15px;
	}

	.form input[type='email']{
		width: 250px;
		height: 25px;
		font-size: 15px;
	}

	.form input[type='password']{
		width: 250px;
		height: 25px;
		font-size: 15px;
	}

	.form input[type='submit']{
		font-size: 15px;
		width: 250px;
		height: 25px;
	}
}